
html{
  scroll-behavior: smooth;
}


.last-modified{
  margin-top:30px;
  text-align: center;
  font-size: 0.8em;
}

#longpage-navbar {
  color: #333333;
  background-color: #ccc;
  position:relative;
  height:55px;
  text-align: left;
  justify-content: space-between;
}  
#longpage-navbar.title-toc{
  justify-content: left;
}
#longpage-navbar.header-not-at-top {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1031;
}


.longpage-nav-btn {
  margin-top:0;
}

#longpage-navbar .navbar-brand{
  color:#333;
}

#top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 500px;
  left: 0;
}

 .longpage-nav #search-results{
  overflow-x: none;
  overflow-y: auto;
  text-align: left;
  max-height:80vh;
  padding-left:0px;
  margin-top:0px;
}

#table-of-content {
  position: relative;
  width:80%;
  margin: 10px auto 0 auto;
  align-content: space-around;
  padding-right:0;
  padding-left:4px !important;
}
  
#table-of-content.header-not-at-top {
    position: fixed;
    top: 105px;
    left: 15px;
    background-color: #fff;
    color:#004C97;
    width:17%;
    max-height: 80vh;
    z-index:1001;
}

#table-of-content ul li{
  display:block;
}

#table-of-content ul li a{
  padding-top:0;
  padding-bottom:6px;
}



.longpage-nav ul#search-results{
  display:inline-block;
}

.longpage-nav ul#search-results li {
  padding-bottom: 10px;
  font-size: 0.8em;
  display:inline-block;
}

#table-of-content ul li div ul {
  padding-top:0;
  padding-bottom:6px;
  text-align: left;
}

.longpage-nav .nav-link,
#table-of-content .nav-link {
  padding-top:0;
  padding-bottom:6px;
  font-size:1em;
  padding-left:4px;
  max-width:100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.2em;
  text-align: left;
}

#table-of-content.header-not-at-top .nav-link {
  padding-top:0;
  padding-bottom:6px;
  font-size:0.8em;
  padding-left:4px;
  max-width:100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1em;
  text-align: left;
}

.justify-text {
  padding-left:0 !important;
  padding-right:0 !important;
}

.longpage-footnote {
  color:#004C97;
  margin:0;
  border:0;
  padding:0 !important;
  vertical-align: 0;
}

.longpage-footnote button{
  font-size : 1em;
  margin:0;
  border:0;
  padding:0 !important;
  vertical-align: 0;
}

.longpage-footnote:hover button{
  background-color:#004C97;
  color:#fff;
  /* border-radius: 5px;
  border: solid 1px #004C97;
  */
}


.longpage-citation {
  color:#004C97 !important;
  margin:0;
  border:0;
  padding:0 !important;
  vertical-align: 0;
  font-size: 1em;
}

.longpage-container {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 40em;
  /*text-align: justify;*/
  hyphens: auto;
}

.longpage-container > p {
  margin: 0px 0px 10px 0px;
  padding: 0 10px;
  line-height: 1.6em;
  font-size: 1em;
}

.longpage-container h2 {
    font-size: 1.6em;
    line-height: 1.25em;
    width: 100%;
    margin: 30px 0px 30px 0px;
    padding: 0 0 0 10px;
    font-weight: bold;
  }


.longpage-container h3 {
  font-size: 1.2em;
  line-height: 1.51em;
  margin: 20px 0px 20px 0px;
  font-weight: bold;
  padding: 0 0 0 10px;
}

.longpage-container h4 {
  font-size: 1.1em;
  line-height: 1.41em;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  padding: 0 0 0 10px;
}

.longpage-container h5 {
  font-size: 1.0em;
  line-height: 1.41em;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  padding: 0 0 0 0px;
}

.longpage-container .longpage-image-block,
.longpage-container .longpage-table-block {
  margin: 1em 0;
}

.longpage-container .longpage-image-block table {
 margin: 1em 0;
 border-bottom: solid 1px #333;
}

.longpage-container .longpage-image-block table tr:nth-child(1) {
 border-top:solid 1px #333;
 border-bottom:solid 1px #333;
}

.longpage-container .longpage-image-block table tr td {
  vertical-align: top;
  padding: 4px 8px 4px 0;
}

.longpage-container .longpage-image-block img{
  max-height: 80vh;
  align-content: center;
}

.longpage-container .longpage-image-caption,
.longpage-container .longpage-table-caption {
  font-size: 0.9em;
  font-weight:bold;
  margin-top:0;
  margin-bottom:1em;
  line-height: 1.4em;
  padding: 4px 6px;
}

.longpage-container ul li {
  padding-left:0.3em;
}

.longpage-container ul {
  margin: 1em 0em 2em 0.2em;
}

.longpage-center {
  text-align: center;
}

.longpage-assignment {
  background-color: #007bff17;
  border-top: 1px solid #004C97;
  border-bottom: 1px solid #004C97;
  margin: 2em 0em;
  padding:1em;
}

.longpage-solution {
  background-color: #007bff17;
  border-top: 1px solid #004C97;
  border-bottom: 1px solid #004C97;
  margin: 2em 0em;
  padding:1em;
}

.longpage-reading-time-estimation{
  font-size:0.8em;
  margin-left:0;
  padding-left:10px;
  padding-top:-20px;
  color:#333333;
  font-weight:  normal;

}

.longpage pre {
  display: block;
  padding: 1rem;
  word-wrap: normal;
  
  
}

div.longpage-center pre,
pre{
  text-align: left !important;
  font-family: monospace, monospace;
  background-color: #ddd !important;
  text-align: left;
  overflow: auto;
  padding: 4px 6px;
  margin: 10px 0 10px 0;
}

code {
  font-family: monospace, monospace;
  background-color: #ddd; 
  padding:2px 4px;
  color:#222222; 
}

.nobr {
  white-space: nowrap;
}


.longpage-italic {
  font-style: italic;
}

.longpage-bold {
  font-weight: bold;
}

.longpage-inline{
  display:inline;
}



/* */
.blocks {
      padding-top: 63px;
    }

    .block {
      height: 1000px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      color: #ffffff;
    }

    #first {
      background-color: #dc3545;
    }

    #second {
      background-color: #007bff;
    }

    #third {
      background-color: #28a745;
    }

    .navbar {
      position: fixed;
      background-color: #6c757d;
      width: 100%;
      text-align: center;
    }

    .navbar-items {
      padding: 0;
      font-size: 1.25rem;
    }

    .navbar-items li {
      list-style: none;
      display: inline-block;
    }

    .navbar-items li+li {
      margin-left: 20px;
    }

    .navbar-items li a {
      color: #ffffff;
      text-decoration: none;
      position: relative;
    }

    .navbar-items li a::after {
      width: 0;
      content: "";
      height: 4px;
      background-color: #ffc107;
      position: absolute;
      bottom: -5px;
      left: 0;
      transition: width .3s ease;
    }

    .navbar-items li a.active::after {
      width: 100%;
    }

.header-not-at-top{
  background-color: #28a745;
}


.longpage-tabbing {
  display:inline-block;
  white-space:pre-line;
  background-color: #ddd;
  padding: 6px 10px;
  font-size:0.9em;
  margin-left:4px;
  margin-right:4px;
}

.longpage-minipage {
  padding:10px 0;
}

.longpage-indent {
    font-size:0.9em;
    margin-left:20px;
    white-space: pre-line;
    margin-bottom: 10px;
}

.longpage-monospace {
  font-family: monospace;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   h1, .h1 {
    font-size: 1.3rem;
  }
  .card {
    border:none;
  }

  #longpage-search-form #search-string{
    height: 17px;
    font-size: 1em;
    vertical-align: middle;
    margin-top: 6px;
  }

  #longpage-search-form #search-full-text {
    font-size: 1em;
    padding: 2px !important;
    line-height: 1em;
  }

  #longpage-navbar {
    position: relative;
    width: 100%;
    height: 55px;
    z-index: 1031;
    color: #333333;
    background-color: #ccc;
    text-align: left;
    padding: 2px 10px;
    text-align: left;
    justify-content: space-between;
  }

  .longpage-toc-toggle{
    height:20px;
    line-height: 15px;
    font-size:1em;
    margin:0;
    padding:0;
  }

  #longpage-navbar.header-not-at-top {
    position: relative;
    width: 100%;
    height: 55px;
    z-index: 1031;
    color: #333333;
    background-color: #ccc;
    text-align: left;
    padding: 2px 10px;
    text-align: left;
    justify-content: space-between;
  }

  

   #longpage-navbar.header-not-at-top {
     position: fixed;
     top:0;
     height: 40px;
     width:100%;
  }

  #longpage-search-form {
    display:inline !important;
    float: right;
    margin-right:30px;
  }

  #table-of-content.header-not-at-top {
    position: fixed;
    top: 35px;
    left: 0px;
    background-color: #fff;
    color: #004C97;
    width: 20%;
    max-height: 80vh;
    z-index: 1001;
  }

  ul#tocList{
    margin: 0 0 10px 15px;
  }

  #table-of-content ul li div ul {
    padding-top: 0;
    padding-bottom: 6px;
    text-align: left;
    margin-bottom: 0;
}

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   h1, .h1 {
    font-size: 1.3rem;
  }
  #table-of-content {
    display:none;
  }
  
  .page-navbar{
    display:none;
  }
  .navbar {
    height: 100px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
 h1, .h1 {
    font-size: 1.3rem;
  }
  #table-of-content {
    display:none;
  }
  
  .page-navbar{
    display:none;
  }
  .navbar {
    height: 100px;
  }
}








