/*
 * Based on Hypothesis client's styles (see https://github.com/hypothesis/client):
 *   - src/styles/annotator/highlights.scss
 */
@import '../variables.scss';
@import '../mixins/a11y.scss';
@use 'sass:color';

@mixin colorized-bg-highlight($color) {
  background: transparent linear-gradient(
                  to right,
                  rgba($color, 0.3),
                  rgba($color, 0.9) 4%,
                  rgba($color, 0.5)
  );
}

// `longpage-highlights-always-on` is a class that is toggled on the
//  annotated longpage-container when highlights are enabled/disabled.
.longpage-highlights-always-on {
  .longpage-highlight {
    position: relative;
    mix-blend-mode: multiply;
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  .annotation-toolbar-item, .longpage-highlight {
    cursor: pointer;

    &.bg-yellow {
      @include colorized-bg-highlight($color-highlight-yellow);
    }
    &.bg-green {
      @include colorized-bg-highlight($color-highlight-green);
    }
    &.bg-orange {
      @include colorized-bg-highlight($color-highlight-orange);
    }
    &.bg-violet {
      @include colorized-bg-highlight($color-highlight-violet);
    }
    &.bg-blue {
      @include colorized-bg-highlight($color-highlight-blue);
    }
    &.bg-pink {
      @include colorized-bg-highlight($color-highlight-pink);
    }
    // Make highlights visible to screen readers.
    // See also - https://developer.paciellogroup.com/blog/2017/12/short-note-on-making-your-mark-more-accessible/.
    &::before {
      @include screen-reader-only;

      // nb. The leading/trailing spaces are intended to ensure the text is treated
      // as separate words by assisitve technologies from the content before/after it.
      content: ' highlight start ';
    }
    &::after {
      @include screen-reader-only;
      content: ' highlight end ';
    }
  }
}
