@import 'search.scss';
@import 'table-of-contents.scss';
@import 'variables.scss';
@import './annotation/highlights.scss';
@import './annotation/text-overlay.scss';
@import 'utils.scss';

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.last-modified {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8em;
}

#longpage-navbar {
  height: auto;
  color: #333333;
  background-color: #ccc;
  position: relative;
  text-align: left;
  justify-content: space-between;
}

#longpage-navbar.title-toc {
  justify-content: left;
}

#longpage-navbar.header-not-at-top {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 1031;
}

.longpage-nav-btn {
  margin-top: 0;
}

#longpage-navbar .navbar-brand {
  color: #333;
  white-space: normal;
}

#top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 500px;
  left: 0;
}

.longpage-nav .nav-link {
  padding-top: 0;
  padding-bottom: 6px;
  font-size: 1em;
  padding-left: 4px;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.2em;
  text-align: left;
}

.justify-text {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.longpage-footnote {
  color: #004C97;
  margin: 0;
  border: 0;
  padding: 0 !important;
  vertical-align: 0;
}

.longpage-footnote button {
  font-size: 1em;
  margin: 0;
  border: 0;
  padding: 0 !important;
  vertical-align: 0;
}

.longpage-footnote:hover button {
  background-color: #004C97;
  color: #fff;
  /* border-radius: 5px;
  border: solid 1px #004C97;
  */
}

.longpage-citation {
  color: #004C97 !important;
  margin: 0;
  border: 0;
  padding: 0 !important;
  vertical-align: 0;
  font-size: 1em;
}

.longpage-container {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  hyphens: auto;
  max-width: 40em;
  /*text-align: justify;*/
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.longpage-container>p {
  margin: 0px 0px 10px 0px;
  padding: 0 10px;
  line-height: 1.6em;
  font-size: 1em;
}

.longpage-container h2 {
  font-size: 1.6em;
  line-height: 1.25em;
  width: 100%;
  margin: 30px 0px 20px 0px;
  padding: 0px;
  font-weight: bold;
}

.longpage-container h3 {
  font-size: 1.2em;
  line-height: 1.51em;
  margin: 20px 0px 15px 0px;
  font-weight: bold;
  padding: 0 0 0 0px;
}

.longpage-container h4 {
  font-size: 1.1em;
  line-height: 1.41em;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  padding: 0 0 0 0px;
}

.longpage-container h5 {
  font-size: 1.0em;
  line-height: 1.41em;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  padding: 0 0 0 0px;
}

.longpage-container .longpage-image-block, .longpage-container .longpage-table-block {
  margin: 1em 0;
}

.longpage-container .longpage-image-block table {
  margin: 1em 0;
  border-bottom: solid 1px #333;
}

.longpage-container .longpage-image-block table tr:nth-child(1) {
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
}

.longpage-container .longpage-image-block table tr td {
  vertical-align: top;
  padding: 4px 8px 4px 0;
}

/* bad hack for 1D */

.longpage-container table {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  margin: 0 8px;
  width: 100%;
}

.longpage-container table thead {
  border-bottom: 2px solid #333;
}

.longpage-container table tbody tr td {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 4px 6px;
  vertical-align: top;
  margin: 0;
}

/* END bad hack for 1D */

.longpage-container .longpage-image-block img {
  max-height: 80vh;
  align-content: center;
}

.longpage-container .longpage-image-caption, .longpage-container .longpage-table-caption {
  font-size: 0.9em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.4em;
  padding: 4px 6px;
}

.longpage-caption-label {
  font-weight: bold;
}

.longpage-container ul, .longpage-container ol {
  margin: 1em 0em 2em 0.2em;
  padding-left: 1.2em;
}

.longpage-container ul li, .longpage-container ol li {
  padding-left: 0.3em;
}

.longpage-center {
  text-align: center;
}

.longpage-assignment {
  background-color: #007bff17;
  border-top: 1px solid #004C97;
  border-bottom: 1px solid #004C97;
  margin: 2em 0em;
  padding: .2em 1em .8em 1em;
}

.longpage-assignment-link {
  color: #004C97 !important;
  margin-top: 10px;
}

.longpage-solution {
  background-color: #007bff17;
  border-top: 1px solid #004C97;
  border-bottom: 1px solid #004C97;
  margin: 2em 0em;
  padding: 1em;
}

.longpage pre {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

div.longpage-center pre, pre {
  text-align: left !important;
  font-family: monospace, monospace;
  background-color: #ddd !important;
  text-align: left;
  overflow: auto;
  padding: 4px 6px;
  margin: 10px 0 10px 0;
}

code {
  font-family: monospace, monospace;
  background-color: #ddd;
  padding: 2px 4px;
  color: #222222;
}

.nobr {
  white-space: nowrap;
}

.longpage-italic {
  font-style: italic;
}

.longpage-bold {
  font-weight: bold;
}

.longpage-inline {
  display: inline;
}

.longpage-paragraph {
  position: relative;
}

.longpage-container .reading-progress {
  z-index: 40;
  display: block;
  height: 100%;
  min-width: 1px;
  background-color: #004C97;
  position: absolute;
  top: 0;
  border-radius: 2px/50px;
  opacity: 0.3;
}

.longpage-container .progress-0 {
  width: 1px;
  right: -10px;
}

.longpage-container .progress-1 {
  width: 4px;
  right: -12px;
}

.longpage-container .progress-2 {
  width: 8px;
  right: -14px;
}

.longpage-container .progress-3 {
  width: 12px;
  right: -16px;
}

.longpage-container .progress-4 {
  width: 16px;
  right: -18px;
}

.longpage-container .progress-5 {
  width: 20px;
  right: -20px;
}

/* */

.blocks {
  padding-top: 63px;
}

#first {
  background-color: #dc3545;
}

#second {
  background-color: #007bff;
}

#third {
  background-color: #28a745;
}

.navbar {
  position: fixed;
  background-color: #6c757d;
  width: 100%;
  text-align: center;
}

.navbar-items {
  padding: 0;
  font-size: 1.25rem;
}

.navbar-items li {
  list-style: none;
  display: inline-block;
}

.navbar-items li+li {
  margin-left: 20px;
}

.navbar-items li a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.navbar-items li a::after {
  width: 0;
  content: "";
  height: 4px;
  background-color: #ffc107;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width .3s ease;
}

.navbar-items li a.active::after {
  width: 100%;
}

.header-not-at-top {
  background-color: #28a745;
}

.longpage-marginal {
  align-content: flex-start;
  font-weight: bold;
  margin-bottom: 4px;
}

.longpage-bold {
  font-weight: bold;
}

.longpage-tabbing {
  display: inline-block;
  white-space: pre-line;
  background-color: #ddd;
  padding: 6px 10px;
  font-size: 0.9em;
  margin-left: 4px;
  margin-right: 4px;
}

.longpage-minipage {
  padding: 10px 0;
}

.longpage-indent {
  font-size: 0.9em;
  margin-left: 20px;
  white-space: pre-line;
  margin-bottom: 10px;
}

.longpage-monospace {
  font-family: monospace;
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  h1, .h1 {
    font-size: 1.3rem;
  }
  .card {
    border: none;
  }
  #longpage-navbar {
    position: relative;
    z-index: 1031;
    color: #333333;
    background-color: #ccc;
    text-align: left;
    justify-content: space-between;
  }
  .longpage-toc-toggle {
    height: 20px;
    line-height: 15px;
    font-size: 1em;
  }
  #longpage-navbar.header-not-at-top {
    position: relative;
    width: 100%;
    z-index: 1031;
    color: #333333;
    background-color: #ccc;
    text-align: left;
    padding: 2px 10px;
    text-align: left;
    justify-content: space-between;
  }
  #longpage-navbar.header-not-at-top {
    position: fixed;
    top: 0;
    height: $longpage-navbar-height;
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  h1, .h1 {
    font-size: 1.3rem;
  }
}

/* XS Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  #page-navbar .breadcrumb {
    display: none;
  }
  .longpage-container {
    font-size: 14px;
  }
  #longpage-navbar {
    height: auto;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1031;
  }
  #longpage-navbar.header-not-at-top {
    top: 50px;
  }
  h1, .h1 {
    font-size: 1.3rem;
  }
  #region-main-box.col-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none;
  }
  #region-main-box .card, header .card {
    border: none;
  }
  .longpage-assignment-link {
    color: #004C97 !important;
    margin-top: 10px;
  }
}

.longpage-container p, .longpage-container .longpage-assignment, .longpage-container ol, .longpage-container ul, .longpage-container h2, .longpage-container h3, .longpage-container h4 {
  /*color: #28a745 !important;*/
}

#region-main {
  overflow: visible;
}
