.cursor-pointer {
  cursor: pointer;
}

.fa-1-5x {
  font-size: 1.5em;
}

.font-weight-boldest {
  font-weight: bold;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.text-small {
  font-size: 0.75rem;
}

.text-x-small {
  font-size: 0.5rem;
}

.vh-100-wo-nav {
  height: calc(100vh - #{$moodle-navbar-height} - #{$moodle-footer-height});
  //height: 100%;
}
