$color-highlight-yellow: #ffe47c;
$color-highlight-green: #6fe2d5;
$color-highlight-orange: #ffbea9;
$color-highlight-violet: #c8a6ff;
$color-highlight-blue: #9bdcfc;
$color-highlight-pink: #fec1de;

$moodle-navbar-height: 50px;
$moodle-footer-height: 90px;